body {
    width: auto;
    min-height: 100vh;
    background-color: #121212;
    color: #f8f8ff;
}
body h1 {
    margin: 5px;
    text-align: center;
}

.helpful-links {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin-left: auto;
    font-size: 20px;
}

.helpful-links a {
    text-decoration: none;
    margin: 0 3px; 
    color: #ffecb5;
}

.helpful-links a:hover {
    transform: scale(1.02);
}

.helpful-links a:active {
    transform: scale(0.98);
}

.input {
    padding: 5px;
    display: flex;
    flex-flow: column nowrap;
    width: 40%;
}

.input button {
    margin-top: 5px;
}

.wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin: auto;
}