@page "/"

<head>
    <link rel="stylesheet" type="text/css" href="css/interpreter/style.css">
</head>
<PageTitle>Nyasharp</PageTitle>

<h1>Interpreter</h1>
<div class="wrapper">
    <div class="input">
        <textarea placeholder="pwint 3 +.+ 3 +.* 3;" value="@Code" @onchange="args => Code = args.Value.ToString()" rows="10"></textarea>
        <button @onclick="Run">Interpret</button>
    </div>
    <div class="input">
        <textarea value="@Output" rows="10"></textarea>
    </div>
</div>

<div class="helpful-links">
    <a href="https://github.com/AI-nsley69/nyasharp#coding-in-nyasharp">Documentation</a> 
    | 
    <a href="https://github.com/AI-nsley69/nyasharp/tree/master/docs/examples">Code Examples</a>
</div>

@code {
    private string? Code;
    private static string Output = "";

    private void Run()
    {
        if (Code == null) return;
        Output = "";
        AttachEvents();
        core.Run(Code);
        DetachEvents();
    }

    private static void AttachEvents()
    {
        core.PrintWorker.OnPrint += WorkerPrint;
        core.ErrorWorker.OnError += WorkerError;
    }

    private static void DetachEvents()
    {
        core.PrintWorker.OnPrint -= WorkerPrint;
        core.ErrorWorker.OnError -= WorkerError;
    }

    private static void WorkerPrint(string str)
    {
        Output += str + "\n";
    }

    private static void WorkerError(string err)
    {
        Output += err + "\n";
    }
}