@page "/"

<head>
    <link rel="stylesheet" type="text/css" href="css/interpreter/style.css">
</head>
<PageTitle>Nyasharp</PageTitle>

<h1>Interpreter</h1>
<div class="wrapper">
    <div class="input">
        <textarea placeholder="pwint 3 +.+ 3 +.* 3;" value="@Code" @onchange="args => Code = args.Value.ToString()" rows="10"></textarea>
        <button @onclick="Run">Interpret</button>
    </div>
    <div class="input">
        <textarea value="@Output" rows="10"></textarea>
    </div>
</div>

<div class="helpful-links">
    <a href="https://github.com/AI-nsley69/nyasharp#coding-in-nyasharp">Documentation</a> 
    | 
    <a href="https://github.com/AI-nsley69/nyasharp/tree/master/docs/examples">Code Examples</a>
</div>

@code {
    private string? Code;
    private string Output;

    private void Run()
    {
        if (Code == null) return;
        var result = core.Run(Code);

        var tmp = "";
        foreach (var err in result.Errors)
        {
            tmp += err + '\n';
        }
        foreach (var v in result.Value)
        {
            tmp += v.ToString() + '\n';
        }
        Output = tmp;
    }
}